<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewData["Title"] - NHACMOI</title>
    <link href='https://fonts.googleapis.com/css?family=Lobster+Two:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700' rel='stylesheet' type='text/css' />

    <!--MOBILE DEVICE-->

    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/font-awesome.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/animate.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/responsive.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/login.css" type="text/css" media="screen" />
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">*@


    <!--JS-->

    <script type="text/javascript" src="~/Scripts/jquery-1.11.3.min.js">
    </script>
    <script type="text/javascript" src="~/Scripts/modernizr.js">
    </script>
    <script type="text/javascript" src="~/Scripts/scripts.js">
    </script>
    <script type="text/javascript" src="~/Scripts/waypoints.min.js">
    </script>

</head>
<body >
    <div class="se-pre-con"></div>
    <section class="saction1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="menu">
                        <div class="mobile-nav-container"> </div>
                        <div class="mobile-nav-btn"><img class="nav-open" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6214/nav-open.png" alt="Nav Button Open" /> <img class="nav-close" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6214/nav-close.png" alt="Nav Button Close" /> </div>
                        <nav>
                            <ul>
                                <li><a href="/home/Index">Trang chủ</a></li>
                                <li><a href="#resturant">Product</a></li>
                                <li><a href="#offer">Nghệ sĩ</a></li>
                                <li><a href="#contact">Liên hệ</a></li>
                                <li><a href="#contact">BXH</a>
                                    <ul>
                                        <li><a href="#">Lượt View</a></li>
                                        <li><a href="#">Lượt Thích</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    @{ 
                        var session = (MUSIC.Models.THANHVIEN)Session["TaiKhoan"];
                    }
                    @if (session == null)
                    {
                        <div class="login">
                            <ul>
                                <li><a href="/NguoiDung/DangNhap">Đăng nhập</a></li>
                                <li><a href="/NguoiDung/DangKy">Đăng kí</a></li>
                                <li><a href="#">Trợ giúp</a></li>
                            </ul>
                        </div>
                    }
            else
            {
                <div class="login">
                    <ul>
                        <li class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @session.HoTen

                        </li>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a style="font-size:14px" class="dropdown-item" " href="#">List nhạc yêu thích</a></li>
                            <li><a style="font-size:14px" class="dropdown-item" " href="#">Đăng xuất</a></li>
                        </ul>

                        <li><a href="#">Trợ giúp</a></li>
                    </ul>
                    
                </div>
            }
                    
                </div>
            </div>
        </div>
    </section>
    <section class="backgraound">
        <div class="container">

            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="textbox os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.5s">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top: 50px;">
                <div class="textbox1 os-animation light-height100" data-os-animation="zoomIn" data-os-animation-delay="0.5s">
                    <form name="Search" action="/Home/Search"  method="post">
                        <input type="text" name="searchMUSIC" placeholder="Tìm kiếm bài hát" />
                        <button class="search" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                        
                    
                   
                    

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="textbox1 os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.5s">
                </div>
            </div>
    </section>
        @RenderBody()
    
    <footer class="saction8">
        <div class="container" id="contact">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="site">
                        <h3>Liên kết trang web</h3>
                    </div>
                    <div class="sitelink">
                        <ul>
                            <li> <span>&#10152;</span><a href="#">Về chúng tôi</a></li>
                            <li><span>&#10152;</span><a href="#">Liên hệ ngay</a></li>
                            <li><span>&#10152;</span><a href="#">Chính sách bảo mật</a></li>
                            <li><span>&#10152;</span><a href="#">Điều khoản sử dụng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="site">
                        <h3>Liên kết trang web</h3>
                    </div>
                    <div class="sitelink">
                        <ul>
                            <li> <span>&#10152;</span><a href="#">Về chúng tôi</a></li>
                            <li><span>&#10152;</span><a href="#">Liên hệ ngay</a></li>
                            <li><span>&#10152;</span><a href="#">Chính sách bảo mật</a></li>
                            <li><span>&#10152;</span><a href="#">Điều khoản sử dụng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="follow">
                        <h3>theo dõi chúng tôi trên...</h3>
                    </div>
                    <div class="social">
                        <ul>
                            <li> <i class="fa fa-facebook-square"></i><a href="#">Facebook</a></li>
                            <li><i class="fa fa-twitter-square"></i><a href="#">Twitter</a></li>
                            <li><i class="fa fa-linkedin-square"></i><a href="#">Linkedin</a></li>
                            <li><i class="fa fa-google-plus-square"></i><a href="#">Google Plus</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="submit">
                        <h3>đăng kí mail</h3>
                        <p>Để nhận được cập nhật mới nhất và các giao dịch thực phẩm hàng tuần</p>
                    </div>
                    <div class="submitbox">
                        <input type="text" />
                        <div class="sub"> <a href="#">Đăng kí</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <footer class="saction9">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p class="freetemplates">Đặng Thành Khá, Nguyễn Công Mạnh Tân</p>
                    <p class="freetemplates">Đồ án cơ sở</p>

                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="~/Scripts/sidemenu.js">
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<style>
    .light-height100{
        line-height:100%;
    }
</style>
