@model IEnumerable<MUSIC.Models.BAIHAT>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="saction4">
    <div class="container" id="offer">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="dotted3 os-animation" data-os-animation="bounceInLeft" data-os-animation-delay="1s"></div>
                <div class="special">
                    <h2 class="os-animation" data-os-animation="bounceInDown" data-os-animation-delay="0.50s">Nghệ Sĩ</h2>
                    <div class="dotted4 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="1s"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="slider clearfix os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.20s">
                <div class="imgplaylist clearfix"> <img src="~/images/nhacsi/septung.png" style="width:100%" alt="" /> </div>
                <div class="title nameplaylist clearfix">
                    <h3>
                        Sơn Tùng MTP<br />
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="slider clearfix os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.50s">
                <div class="imgplaylist"> <img src="~/images/nhacsi/denvau.png" style="width:100%" alt="" /> </div>
                <div class=" title nameplaylist">
                    <h3>
                        Đen Vâu<br />
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="slider clearfix os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s">
                <div class="imgplaylist"> <img src="~/images/nhacsi/phanmanhquynh.png" style="width:100%" alt="" /> </div>
                <div class="title nameplaylist">
                    <h3>
                        Phan Mạnh Quỳnh<br />
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="saction5">
    <div class="container" id="resturant">
        <!---col-->

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="special">
                <h2 class="os-animation" data-os-animation="bounceInDown" data-os-animation-delay="0.05s">Product</h2>
            </div>
            <div class="food1">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="padding:0 5px">
                            <figure class="food os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0.05s">
                                <img src="@item.hinhbaihat" width="100%" alt="" />
                                <div class="order margin-auto "> <a href="/Home/DetailsMusic/@item.idbaihat">@item.tenbaihat</a> </div>
                            </figure>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .margin-auto {
        margin: -8px auto 8px;
    }

    .imgplaylist {
        width: 100%;
    }

    .nameplaylist {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
</style>